
.bloc-total {
  color: white;
  height: 460px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px 30px;

  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  label {
    p {
      font-size: 15px;
      margin-bottom: 5px;
    }

    textarea {
      font-size: 13px;
      height: 85%;
      text-align: left;
      width: 380px;
    }
  }
}

.actions {
  text-align: center;
}
