<div class="home">
    <img
    class="img-logo"
    src="./../assets/images/microphone.png"
    />
</div>
<div>
<img
  class="logo"
  src="./../assets/images/recordit-logo.png"
  alt="logo" />
</div>


<div class="buttons">
    <div class="actions">
        <a
          class="btn blue"
          (click)="goToLogin()"
        >
            Se connecter
        </a>
    </div>
    <div class="actions">
        <a
          routerLink="/register"
          class="btn blue">
            Créer un compte
        </a>
    </div>
</div>

<div
    class="second-section">
        <img
          class="img-section"
          src="./../assets/images/no-training.svg"
          alt="create-project"
        />
</div>
