$dark-blue: #0092ff;
$medium-blue: #1995FC;
$blue: #69a4fc;
$light-blue: #69A4FC;
$black: #2e3643;
$dark-grey: #455266;
$regular-grey: #c3c3c37a;
$medium-grey: #CCD6E0;
$light-grey: #DEE4EB;
$dark-red : darkred;
$red-error: #b71b1b;
$yellow-timer : #8e711b;
$orange-timer : #8e541a;
$red-timer : #8e1c1c;
